<!--<app-nav-bar></app-nav-bar>-->
<!--<div>-->
  <!--<div>To pay: {{this.dataService.totalCost}}</div>-->
  <!--<form class="vpa-form" (ngSubmit)="validateVPAAndPay()">-->

    <!--<div class="form-group">-->
      <!--<mat-form-field class="vpaPayment">-->
        <!--<input matInput placeholder="VPA" name="vpa" id="vpa" required #vpa="ngModel" [(ngModel)]="vpaId">-->
      <!--</mat-form-field>-->
      <!--<span *ngIf="vpa.invalid && vpa.touched">Please enter VPA!</span>-->
    <!--</div>-->

    <!--<button mat-raised-button type="submit" [disabled]="!vpa.valid">Pay!</button>-->
  <!--</form>-->
  <!--<div class="success" *ngIf="successMsg">-->
    <!--<p>Payment Successful!</p>-->
  <!--</div>-->
<!--</div>-->

<!--adasdasdasdasdasdasdasasdasdasdasd-->


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">UPI Payment</h5>
          <form (ngSubmit)="validateVPAAndPay()">
            <div class="form-group">
              <label for="vpa">VPA</label>
              <input name="vpa" id="vpa" class="form-control input-mysize" required #vpa="ngModel" [(ngModel)]="vpaId">
            </div>

            <hr class="my-6">
            <button class="btn btn-lg btn-block text-uppercase btn-primary" type="submit" [disabled]="!vpa.valid">Pay!</button>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
