.expiry{
  width: 50%;
  padding: 1px;
}

div.contain {
  display: inline-block;
  width: 96%;
}

.card-title{
  margin-bottom: 40px;
}

.warning {
  background: #fc2d7f;
  color: white;
  margin-bottom: 10px;
}
body  {
  min-height: 100%;
  background: #007bff;

  background: linear-gradient(to right, #0062E6, #33AEFF);
}
