<div>
  <div>To pay: {{this.dataService.totalCost}}</div>
  <form class="credit-card-form" (ngSubmit)="validateCCAndPay()">

    <div class="form-group">
      <mat-form-field class="ccPayment">
        <input matInput placeholder="Card Number" name="cardNumber" id="cardNumber" required #cardNum="ngModel" [(ngModel)]="cardNumber">
      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field class="ccPayment">
        <mat-label>Expiry Month</mat-label>

        <mat-select [(ngModel)]="expiryMonth" name="selectMonth" required #expiryMM="ngModel">
          <mat-option *ngFor="let month of expiryMMSelect" [value] = month >{{month}}</mat-option>
        </mat-select>

      </mat-form-field> ,

      <mat-form-field>
        <mat-label>Expiry Year</mat-label>

        <mat-select [(ngModel)]="expiryYear" name="selectYear" required #expiryYYYY="ngModel">
          <mat-option *ngFor="let year of expiryYYYYSelect" [value] = year >{{year}}</mat-option>
        </mat-select>

      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field class="ccPayment">
        <input matInput placeholder="CVV" name="cvv" id="cvv" required #CVV="ngModel" [(ngModel)]="cvv">
      </mat-form-field>

    </div>
    <button mat-raised-button type="submit" [disabled]="!cardNum.valid || !CVV.valid || !expiryYYYY.valid || !expiryMM.valid">Pay!</button>

  </form>
  <div class="success" *ngIf="successMsg">
    <p>Payment Successful!</p>
  </div>
</div>
