
<!--<form (ngSubmit)="goToCart()">-->
  <!--<table class="fixed" align="center">-->

    <!--<thead>-->
    <!--<app-header></app-header>-->
    <!--</thead>-->
    <!--<tbody>-->
        <!--<app-quantity-selector *ngFor="let itemQuantity of dataService.quantities" [itemQuantity]="itemQuantity">-->
        <!--</app-quantity-selector>-->
    <!--</tbody>-->
  <!--</table>-->
  <!--<div class="wrapper">-->
    <!--<button mat-raised-button type="submit" name = "Checkout" class ="button">Checkout</button>-->
  <!--</div>-->
<!--</form>-->


<!--asdasdsadasasdasdas-->
<body>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Shop is open for Business!</h5>
            <form (ngSubmit)="goToCart()">
              <hr class="my-6">
              <div class="form-row d-flex">
                <div class="p-2 mx-auto form-group text-center item">Name</div>
                <div class="p-2 mx-auto form-group text-center item">Price</div>
                <div class="p-2 mx-auto form-group text-center quantity">Quantity</div>
              </div>

              <app-quantity-selector class="form-row d-flex " *ngFor="let itemQuantity of dataService.quantities" [itemQuantity]="itemQuantity"></app-quantity-selector>
              <hr class="my-6">
              <div class="wrapper">

                <button type="submit" name = "Checkout" class ="btn btn-outline-primary btn-block">Checkout</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

